<template name="nav">
    <nav>
        <div class="nav-wrapper green">
            <a href="#" id="tituloHeader" class="brand-logo center">
                Desafio Green
            </a>
        </div>
    </nav>
</template>

<template name="navResultado">
    <nav>
        <div class="nav-wrapper green">
            <a href="#" id="tituloHeader" class="brand-logo left navResultado">
                Resultado
            </a>
            <a href=""  data-action="back" class="waves-effect show-on-large left"><i class="mdi mdi-arrow-left font-icon-extrato"></i></a>
        </div>
    </nav>
</template>
